<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schema.android.com/apk/res/android" id="cordova-plugin-file-node-like-tests" version="1.1.0">
	<name>Node-like FS Tests</name>
	<description>
		Unit testing for cordova-plugin-file-node-like
	</description>

	<license>MIT</license>
	<keywords>file,io,nodejs</keywords>
	<engines>
		<engine name="cordova" version=">=3.0.0" />
	</engines>

	<js-module name="tests" src="tests.js">
	</js-module>
</plugin>
